@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

/* Body */
body {
    background-color: #222;
    color: #ccc;
    font: 400 100% 'Nunito', sans-serif;
}


/* Text */
.text-muted {
    color: #888;
}

.text-thin {
    font-weight: 300;
}

